.s-avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-bordered {
  height: 100%;
  max-height: 180px;
  border-radius: 12px;
  box-shadow: 0px 10px 16px rgba(0,0,0,0.3);
}

.avatar-teacher {
  max-height: 180px;
  max-width: 180px;
  object-fit: cover;
}

@media (max-width: 1350px) {
  .avatar-teacher {
    max-height: 150px;
    max-width: 150px;
  }
}

@media (max-width: 1024px) {
  .avatar-teacher {
    max-height: 130px;
    max-width: 130px;
  }
}

@media (max-width: 576px) {
  .avatar-bordered {
    max-height: 144px;
  }
  .avatar-teacher {
    height: 144px;
    max-width: 144px;
  }
}

@media (max-width: 370px) {
  .avatar-bordered {
    max-height: 130px;
  }
}
